/* rgb(39, 43, 48) = Couleur de fond theme SLATE */

/* CSS DE LA PAGE home_post.php */
.title_home_blog, .title_category{
    text-align: center;
    margin: 2% 0 -4% 0;
    font-size: 3.5em;
    color: white;
}
.title_posts{
    font-size: 1.5em;
    text-align: center;
    color: white;
}
.home_blog_img{
    width: 100%;
    /*border: 2px solid rgb(29, 32, 36);*/
    border: 0.4mm ridge  rgb(29, 32, 36);
    /*border-radius: 4px;*/
    box-shadow: 4px 4px 6px black;
    padding: 2%;
    transition: .3s ease-in-out;
}
.home_blog_img:hover{
    -webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.home_blog_button{
    box-shadow: 1px 1px 2px black;
}
.blog_content{
    margin-top: 4%;
}

.like-in-react{
    color: rgb(29, 143, 250);
    font-size: 1.1em;
    transition: .3s ease-in-out;
}
.like-in-react:hover{
    color: rgb(111, 185, 255);
    font-size: 1.12em;
}


/* CSS DE LA PAGE post.php */
.post_img{
    text-align: center;
    width: 92%;
    /*border: 2px solid rgb(29, 32, 36);*/
    border: 0.4mm ridge  rgb(29, 32, 36);
    /*border-radius: 4px;*/
    box-shadow: 4px 4px 6px black;
    padding: 2%;
}
